@font-face {
  font-family: "iconfont"; /* Project id 4021545 */
  src: url('iconfont.woff2?t=1681739852645') format('woff2'),
       url('iconfont.woff?t=1681739852645') format('woff'),
       url('iconfont.ttf?t=1681739852645') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e613";
}

.icon-denglu:before {
  content: "\e62e";
}

.icon-14:before {
  content: "\e6a8";
}

.icon-zhuceshenpi:before {
  content: "\e60b";
}

.icon-dengluyonghuming:before {
  content: "\e611";
}

.icon-tuichudenglu:before {
  content: "\e605";
}

.icon-tuichudenglu1:before {
  content: "\e60c";
}

.icon-dengluzhuce:before {
  content: "\e614";
}

.icon-ziyuan48:before {
  content: "\e606";
}

.icon-ziyuan57:before {
  content: "\e607";
}

.icon-ziyuan59:before {
  content: "\e608";
}

.icon-ziyuan49:before {
  content: "\e609";
}

.icon-ziyuan25:before {
  content: "\e60a";
}

