@font-face {
  font-family: "iconfont"; /* Project id 4032132 */
  src: url('iconfont.woff2?t=1682161038257') format('woff2'),
       url('iconfont.woff?t=1682161038257') format('woff'),
       url('iconfont.ttf?t=1682161038257') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huanqiumeishi:before {
  content: "\e60b";
}

.icon-meishi:before {
  content: "\e61c";
}

